.content {
    flex-grow: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.contentShift{
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 400px !important;
    
}