.content {
    flex-grow: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: -240px !important;
}

.contentShift{
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 0 !important;
    
}